<div id="main-list" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    {{icon}}
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    {{pageTitle}}
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Pesquisar por {{pageContextName.toLowerCase()}}">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button *ngFor="let item of actions" mat-raised-button routerLink="{{item.routerLink}}"
                class="add-product-button fuse-white mt-24 mt-md-0">
                <span>{{item.caption}}</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8"
                matSortActive="{{sortField}}" matSortDirection="{{sortDirection}}" matSortDisableClear>

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <ng-container *ngFor="let item of columns" matColumnDef="{{item.field}}">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{item.caption}} </th>
                    <td mat-cell *matCellDef="let element"> {{element[item.field]}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
                <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
            </table>
            <mat-paginator [length]="dataSource.recordCount" [pageSize]="10"
                [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
