<div id="form" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" (click)="onBack()">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="form-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img
                        [src]="'http://angular-material.fusetheme.com/assets/images/ecommerce/product-image-placeholder.png'">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        {{title}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{subtitle}}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <json-schema-form
                    loadExternalAssets="true"
                    [form]="jsonFormObject"
                    [options]="jsonFormOptions"
                    [framework]="selectedFramework"
                    [language]="selectedLanguage"
                    (onChanges)="onChanges($event)"
                    (onSubmit)="submit($event)"
                    (isValid)="isValid($event)"
                    (validationErrors)="validationErrors($event)"
                    >
                </json-schema-form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>